POSTGRES_USER=netflix_user
POSTGRES_PASSWORD=netflix_pass
POSTGRES_DB=netflix_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://netflix_user:netflix_pass@db:5432/netflix_db

SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
